<div class="animContainer">

  <div class="innerFlex">
    <div class="css-animations ">
      <ul>
        <li>L</li>
        <li>O</li>
        <li>A</li>
        <li>D</li>
        <li>I</li>
        <li>N</li>
        <li>G</li>
      </ul>
    </div>
  </div>

  <div class="innerFlex" style="height: 40%;">
    <div class="css-animations-1 ">
      <div class="background">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="innerFlex" style="height: 40%;">
    <div class="css-animations-2 ">
      <div class="background">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="innerFlex">
    <div class="css-animations-3">
      <div class="background">
        LOADING..
      </div>
    </div>
  </div>

  <div class="innerFlex" style="height: 40%;">
    <div class="css-animations-6">
      <div class="background">

        <div class="outer"></div>
        <div class="middle"></div>
        <div class="inner"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>

  <div class="innerFlex" style="height: 40%;">
    <div class="css-animations-4">
      <div class="background">
        LOADING
      </div>
    </div>
  </div>


  <div class="innerFlex">
    <div class="css-animations-5">
      <div class="background">
      </div>
    </div>
  </div>


  <div class="innerFlex">
    <div class="css-animations-9">
      <div class="background">
        <span class="hexagon"></span>
      </div>
    </div>
  </div>



  <div class="innerFlex" style="height: 40%;">
    <div class="css-animations-7">
      <div class="background">
        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>
        <span class="s7"></span>
        <span class="s8"></span>
        <span class="s9"></span>
      </div>
    </div>
  </div>

  <div class="innerFlex" style="height: 40%;">
    <div class="css-animations-8">
      <div class="background">
        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>
      </div>
    </div>
  </div>


</div>
