<div class="animContainer">

  <div class="innerFlex">
    <div class="title">Layered Card Effect</div>
    <div class="card-hover-effect-4 card">
      <div class="imgbox">
        <img
          src="https://images.unsplash.com/photo-1582266255765-fa5cf1a1d501?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YW5vbnltb3VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80">
      </div>
      <div class="details">
        Anonymous
      </div>
    </div>
  </div>


  <div class="innerFlex">
    <div class="title">Captain Marvel Card Effect</div>
    <div class="card-hover-effect-2 card">
      <div class="content">
        <h2>captain marvel</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">read more</a>
      </div>
      <img
        src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f359881d-6bb2-4391-aba6-779f7084edd4/dcncwke-92bb476f-f118-4d41-b09e-c46559acc06c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2YzNTk4ODFkLTZiYjItNDM5MS1hYmE2LTc3OWY3MDg0ZWRkNFwvZGNuY3drZS05MmJiNDc2Zi1mMTE4LTRkNDEtYjA5ZS1jNDY1NTlhY2MwNmMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.2FFLkRqE2pZquFRwwoqPPZsa87WXbm_2DpoShTKzA5g">
    </div>
  </div>

  <div class="innerFlex" style="height: 65%;flex-basis: 25%;">
    <div class="title">Scaling Card Effect</div>
    <div class="card-hover-effect-3 card">
      <div class="face content">
        <h2>Services</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">read more</a>
      </div>
      <div class="face number">
        09
      </div>
    </div>
  </div>


  <div class="innerFlex">
    <div class="title">Background Translation Card Effect</div>
    <div class="card-hover-effect-1 card">
      <div class="content">
        <h2>design</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua, incididunt ut labore et, incididunt ut labore et.</p>
        <a href="">read more</a>
      </div>
    </div>
  </div>


</div>
