<div class="animContainer">

  <div class="innerFlex" style="flex-basis:100%;height:100%;">
    <div class="title">Moving Vehicles Effect</div>
    <div class="css-animations-2 ">
      <div class="background">
        <img class="car" src="./assets/car.png">
        <img class="bike" src="./assets/bike.png">
      </div>
    </div>
  </div>

  <div class="innerFlex">
    <div class="title">Floating Text Effect</div>
    <div class="css-animations ">
      Floating<br>Text
    </div>
  </div>

  <div class="innerFlex">
    <div class="title">Rotating Loading Effect</div>
    <div class="css-animations-1 ">
      <div></div>
    </div>
  </div>

  <div class="innerFlex">
    <div class="title">Button Shaking Effect</div>
    <div class="css-animations-4 ">
      <div class="button">Hover Me</div>
    </div>
  </div>

  <div class="innerFlex">
    <div class="title">Animated Button Effect</div>
    <div class="css-animations-5 ">
      <div class="button">Hover Me</div>
    </div>
  </div>

  <div class="innerFlex" style="flex-basis:100%;height:100%;">
    <div class="title">Moving Image Effect</div>
    <div class="css-animations-3 ">
      <div class="background">
      </div>
    </div>
  </div>

  <div class="innerFlex" style="flex-basis:30%;">
    <div class="title">Lighting Text Effect</div>
    <div class="css-animations-6 ">
      <ul>
        <li>L</li>
        <li>I</li>
        <li>G</li>
        <li>H</li>
        <li>T</li>
        <li>I</li>
        <li>N</li>
        <li>G</li>
      </ul>
    </div>
  </div>


  <div class="innerFlex" style="flex-basis:30%;height:60%;">
    <div class="title">Heart Beating Effect</div>
    <div class="css-animations-7 ">
      <div class="heart">
      </div>
    </div>
  </div>

  <div class="innerFlex" style="flex-basis:30%;">
    <div class="title">Animated Text Background Effect</div>
    <div class="css-animations-8 ">
      <div class="background"> CSS ANIMATIONS
      </div>
    </div>
  </div>

  <div class="innerFlex" style="flex-basis:30%;">
    <div class="title">Animated Text Background Effect</div>
    <div class="css-animations-9 ">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>


  <div class="innerFlex" style="flex-basis: 50%;height: 70%;">
    <div class="title">Raining Effect</div>
    <div class="css-animations-10 ">
      <div class="background">
        <div></div>
      </div>
    </div>
  </div>



</div>
