<div class="animContainer">



  <div class="innerFlex">
    <div class="title">Smoky Text Effect</div>
    <div class="css-transforms-1 card">
      <ul>
        <li>S</li>
        <li>M</li>
        <li>O</li>
        <li>K</li>
        <li>E</li>
      </ul>
    </div>
  </div>

  <div class="innerFlex">
    <div class="title">Text Fill Effect</div>
    <div class="css-transforms-2 card">
      <div>TEXT</div>
    </div>
  </div>

  <div class="innerFlex" style="height:50%">
    <div class="title" style="margin-right: auto;">Rotated Text Border Effect</div>
    <div class="css-transforms-3 card">
      <div class="box">
        <span class="rotated"></span>

        <div>
          <h1>CSS</h1>
          <span>BORDER</span>
          Hover
          <br>
          Effect
        </div>
      </div>
    </div>
  </div>

</div>
